<section class="page-section" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">About</h2>
        <h3 class="section-subheading text-muted">Learning is easy now with TechCrate.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>2019-2020</h4>
                <h4 class="subheading">Our Humble Beginnings</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">We Started our journey to give better facility to learner, So he/she can easily learn on online plateform.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>March-April 2020</h4>
                <h4 class="subheading">Worst time for all</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Due to covid-19 pandemic. indian govt. ordered a nationwide lockdown, it is preventive measure against the covid-19 pandemic. It is a difficult time for all of us, <br><b>Stay safe, stay home.</b></p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Developing Phase 2020</h4>
                <h4 class="subheading">Developing and testing on a plateform</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">Taking feedback from user to improve services.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image" >
              <h4 style="color:black;text-shadow:3px green">Be Part
                <br>Of Our
                <br>Story!</h4>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--Team or about us-->
<section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
          <h3 class="section-subheading text-muted"></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3" >
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="/assets/Jitendra.jpg" alt="">            
            <h4>Jitendra Patil</h4>
            <p class="text-muted">Lead Designer & Developer </p>
              <p class="text-center" style="font-size: small;color: lightskyblue">
              "Positive thinking make your life more happier.."
              </p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.facebook.com/profile.php?id=100009388584975">
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href = "https://www.linkedin.com/in/jitendra-patil-0a93441a1">
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="\assets\mohit.jpg" alt="">
            <h4>Mohit Mourya</h4>
            <p class="text-muted">Content Developer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                 <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="\assets\Ayush.jpg" alt="">
            <h4>Ayush Prajapati</h4>
            <p class="text-muted">Content Developer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="\assets\Nikhil.jpg" alt="">
            <h4>Nikhil Patil</h4>
            <p class="text-muted">Content Developer</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted"></p>  </div>
      </div>
    </div>
  </section>
  
  