<br>
<div class="container">
    <div class="row">
        <h1>* Privacy and Policy</h1>
        <ul>
            <li>TechCrate is a free service we don't take any kind of money from user, so if someone ask for money or any kind of charges don't give them, otherwise we are not responsible for that. </li>
            <li>Some services of our website takes your personal details like:- Name, Mobile, and Email.</li>
            <li>We Store your data in our database, and your data secure to us.</li>
            <li>We use your data in some services</li>
            <li>If someone harms our integrity or steal our data then we will take legal action against them.</li>
        </ul>
    </div>
    <div class="row">
        <h1>* Terms of use</h1>
        <br>
        <ul>
            <li>Go to courses and choose required course </li>
            <li>Then choose subject and click on open pdf</li>
            <li>The visible pdf showing content of the subject that you can easily read.</li>
            <li>To contact us go to contact section.</li>
        </ul>
    </div>
</div>