@media (max-width: 600px) {
    .backgroundBody{
        background-image:url("/assets/TechBook1.PNG");
        background-size: cover;
        display: inline-block;
        height: 100%;
        width: 100%;
        padding-bottom: 65%;

    }
    
    .abc{
        display:none;
    }
    .abc2{
        display: inline-block;
    }
    .cov_align{
        top: 20px;
        transform:translateY(30%);
/*#ff0800*/
    }
    }
    @media(min-width:600px){
    .backgroundBody{
        background-image:url("/assets/TechBook.PNG");
        background-size: cover;
        display: inline-block;
        height: 112%;
        width: 100%;
        padding-top:20%;
        padding-bottom: 20%;
    }
    .cov_align{
        top: -60%;
        transform: translateY(-80%);
    }
    .abc{
        display: inline-block;

    }
    .abc2{
        display:none;
    }
    }
    